.child-table {
  width: 550px;
  border-collapse: collapse;
  border: 1px solid #000;
  overflow-y: scroll;
  max-height: 592px;
}

.child-table td {
  width: 150px;
}

.child-table-width {
  width: 100%;
} 

.child-table tr.blink {
  animation: blink-animation 1s linear;
}

@keyframes blink-animation {
  0% {
    background-color: rgba(27, 254, 69, 0.5);
  }
  50% {
    background-color: rgba(121, 245, 144, 0.5);
  }
  100% {
    background-color: rgba(215, 253, 222, 0.5);
  }
}

.child-table tr {
  height: 79px;
}

.child-table tr.blink {
  animation: blink-animation 1s linear;
  height: 56px;
}

.child-table tr.edit-mode {
  height: 79px;
}

.edit-icon-container {
  display: flex;
  justify-content: flex-end;
}

.edit-buttons-container {
  display: flex;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
